<ul>
  <li>Comportamento</li>
  <li>Técnologia</li>
  <li>Esporte</li>
  <li>Meio Ambiente</li>
  <li>Atualidade</li>
</ul>

<div class="container">

  <div class="card">
    <h2>titulo</h2>
    <p>Grupos de facebook</p>
    <h2>notícias</h2>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da
      indústria tipográfica...</p>
  </div>

  <div class="card">
    <h2>titulo</h2>
    <p>Grupos de facebook</p>
    <h2>notícias</h2>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da
      indústria tipográfica...</p>
  </div>

  <div class="card">
    <h2>titulo</h2>
    <p>Grupos de facebook</p>
    <h2>notícias</h2>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da
      indústria tipográfica...</p>
  </div>

  <div class="card">
    <h2>titulo</h2>
    <p>Grupos de facebook</p>
    <h2>notícias</h2>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da
      indústria tipográfica...</p>
  </div>
  
  <div class="card">
    <h2>titulo</h2>
    <p>Grupos de facebook</p>
    <h2>notícias</h2>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da
      indústria tipográfica...</p>
  </div>

</div>



